@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');


html, body{
    margin: 0;
    padding: 0;
}

#navbar{
    position: fixed;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

#container{
    background-color: #F0F0F0;
    min-height: 100vh;
    margin-left: 250px;
    padding: 20px;
}

.card {
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 7px 10px rgba(0,0,0,.1);
    width: 700px;
    text-align: center;
  }

  .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
  }

  .fleche{
    color: #f7f7e8;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    animation: animation 0.8s alternate infinite;
    font-size: 40px;
    text-decoration: none;
  }
  .fleche:hover{
      color: #c7cfb7;
  }

@keyframes animation{
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
        transform: translateY(10px);
    }
}

.banner{
    height: 100vh;
}

.bannerh1{
    color: #f7f7e8;
    text-align: center;
    padding-top: 40vh;
    font-family: 'balooregular';
    filter: none;
}

#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640_1280.jpg);
        filter: sepia(1);
        -webkit-filter: sepia(1);
        background-size: cover;
        margin: -20px;
}

#title_1{
    position: relative;
    font-size: calc(15px + 12vh);
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #696969, 0 0 15px #696969, 0 0 20px #696969, 0 0 40px #696969, 0 0 60px #1a1a1a, 0 0 10px #ff00cc, 0 0 98px #ff00cc;
    color: #696969;
    /*font-family: 'Lovers Quarrel', cursive;*/
    /*font-family: 'Italianno', cursive;*/
    /*font-family: 'Niconne', cursive;*/
    font-family: 'Rouge Script', cursive;
    text-align: center;
    animation: blink 5s infinite;
    -webkit-animation: blink 5s infinite;
}
@-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #696969 , 0 0 15px #000000, 0 0 20px #696969, 0 0 40px #696969, 0 0 60px #000000, 0 0 10px #ff0084, 0 0 98px #dc1ef6 ;
      color: #696969;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #696969, 0 0 15px #f7f7e8, 0 0 20px #696969, 0 0 40px #f7f7e8, 0 0 60px #f7f7e8, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #f7f7e8; /**********/
    }
  }