@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');


html, body{
    margin: 0;
    padding: 0;
}

.navbar{
  z-index: 1;
  position: fixed;
  justify-content: left;
  text-align: center;
  margin: 1%;
  margin-left: 0%;
  width: 100%;
  background-color: #fcf8ec;
  
}

color-change{
  background-color: #F45B69;
  height: 50px;
  color: rgba(255,254,255,.8);
  z-index: 1;
}

.navbar a{
    color: #79a3b1;
}



.card {
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 7px 10px rgba(0,0,0,.1);
    width: 700px;
    text-align: center;
  }

  .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
  }

  .fleche{
    color: #fcf8ec;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    animation: animation 0.8s alternate infinite;
    font-size: 40px;
    text-decoration: none;
  }
  .fleche:hover{
      color: #c7cfb7;
  }

@keyframes animation{
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
        transform: translateY(10px);
    }
}

.banner{
    height: 100vh;
}

.bannerh1{
    color: #fcf8ec;
    text-align: center;
    padding-top: 40vh;
    font-family: 'balooregular';
    filter: none;
}

#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640_1280.jpg);
        filter: sepia(1);
        -webkit-filter: sepia(1);
        background-size: cover;
        margin: -20px;
}
